*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: $fuente_textos;
    font-size: 1.6rem;
    min-height: 100%;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.contenedor-sm {
    max-width: 70rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1, h2, h3 {
    font-family: $fuente_headings;
    margin: 0 0 calc(5rem / 2) 0 ;
    font-weight: 900;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5rem;
}
h3 {
    font-size: 4rem;
}
p {
    font-size: 2rem;
    color: $gris;
    line-height: 1.8;
}